body {
  background-color: #E6FFF9;
}

#menu-row {
  display: flex;
  justify-content: center;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  background-color: #A5E36B;
}

.menuRowItem {
  margin: 0 2em 0 2em;
}

#project-container {
  background-color: #F9FFF0;
}

#project-details-container {
  display: flex;
  align-items: flex-end;
  margin-top:1em;
  margin-bottom: 2em;
}

.projectContainerRow {
  margin-top: 1em;
}

#project-name h3 {
  margin: 0;
}

#project-leader h3 {
  margin: 0;
}

#project-created-date h5 {
  margin: 0;
}

#project-modified-date h5 {
  margin: 0;
}

#tasks-header {
  background-color: #D1FF8D;
}

.taskHeader {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

#tasks-content {
  padding-left: 15;
  padding-right: 15;
  background-color: #C2F7FF;
}

#task-row-addNewButton {
    background-color: #C2F7FF;
}

#task-row-container {
  padding: 0;
}

.taskRow {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  border-bottom: 2px;
}

#task-row-addNewButton {
  display: flex;
  justify-content: center;
}

#risks-header {
  background-color: #FFA6CF;
}

.riskHeader {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

#risks-content {
  background-color: #FFE9A6;
}

.riskRowContainer {
  padding: 0;
}

.riskRow {
  padding: 0;
}

#risk-row-addNewButton {
  display: flex;
  justify-content: center;
}
