<!DOCTYPE html>
<html lang="en" ng-app="ProjectApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project managment online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>

    <div id="menu-row" class="col-lg-12 col-md-12">
      <button id="authorize-button" class="btn btn-success menuRowItem" onclick="handleAuthClick(event)">AUTHENTICATE</button>
      <button id="authorize-button" class="btn btn-info menuRowItem">SAVE</button>
      <button id="authorize-button" class="btn btn-danger menuRowItem">NEW</button>
    </div>

    <div class="container">
      <div id="project-container" class="col-lg-12 col-md-12">
        <div id="project-details-container" class="col-lg-12 col-md-12" ng-controller="ProjectController">
          <div id="project-name" class="col-lg-3 col-md-3 projectContainerRow">
            <h5>Name </h5><h3>{{ project[0].projectName }}</h3>
          </div>
          <div id="project-leader" class="col-lg-3 col-md-3 projectContainerRow" >
            <h5>Led by </h5><h3>{{ project[0].projectLeader }}</h3>
          </div>
          <div id="project-created-date" class="col-lg-3 col-md-3 projectContainerRow" >
            <h5>Created on </h5><h3>{{ project[0].projectWasCreated }}</h3>
          </div>
          <div id="project-modified-date" class="col-lg-3 col-md-3 projectContainerRow" >
            <h5>Last saved on </h5><h3>{{ project[0].projectWasLastSaved }}</h3>
          </div>
        </div>

        <div id="project-tasks-container" class="col-lg-12 col-md-12" ng-controller="TaskController">
          <div id="tasks-top" class="col-lg-12 col-md-12">
            <h4>TASKS</h4>
          </div>
          <!-- TASKS HEADER -->
          <div id="tasks-header" class="col-lg-12 col-md-12">
            <div id="task-id" class="col-lg-1 col-md-1 taskHeader">
              <h5>ID</h5>
            </div>
            <div id="task-name" class="col-lg-2 col-md-2 taskHeader">
              <h5>NAME</h5>
            </div>
            <div id="task-startDate" class="col-lg-2 col-md-2 taskHeader">
              <h5>START</h5>
            </div>
            <div id="task-endDate" class="col-lg-2 col-md-2 taskHeader">
              <h5>END</h5>
            </div>
            <div id="task-status" class="col-lg-1 col-md-1 taskHeader">
              <h5>STATUS</h5>
            </div>
            <div id="task-dependencies" class="col-lg-1 col-md-1 taskHeader">
              <h5>DEPEND.</h5>
            </div>
            <div id="task-responsible" class="col-lg-2 col-md-2 taskHeader">
              <h5>RESPONSIBLE</h5>
            </div>
            <div id="task-comments" class="col-lg-1 col-md-1 taskHeader">
              <h5>COMMENTS</h5>
            </div>
          </div>

          <!-- TASKS CONTENT -->
          <div id="tasks-content" class="col-lg-12 col-md-12" ng-repeat="task in tasks">
              <!-- TASK ROWS STARTS HERE -->
              <div id="task-row-id" class="col-lg-1 col-md-1 taskRow">
                <p>{{ task.taskId }}.</p>
              </div>
              <div id="task-row-name" class="col-lg-2 col-md-2 taskRow">
                <p>{{ task.taskName }}</p>
              </div>
              <div id="task-row-startDate" class="col-lg-2 col-md-2 taskRow">
                <p>{{ task.taskStart }}</p>
              </div>
              <div id="task-row-endDate" class="col-lg-2 col-md-2 taskRow">
                <p>{{ task.taskEnd }}</p>
              </div>
              <div id="task-row-status" class="col-lg-1 col-md-1 taskRow">
                <p>{{ task.taskStatus }}</p>
              </div>
              <div id="task-row-dependencies" class="col-lg-1 col-md-1 taskRow">
                <p>{{ task.taskDependencies }}</p>
              </div>
              <div id="task-row-responsible" class="col-lg-2 col-md-2 taskRow">
                <p>{{ task.taskResponsibles }}</p>
              </div>
              <div id="task-row-comments" class="col-lg-1 col-md-1 taskRow">
                <p>{{ task.taskComments }}</p>
              </div>
          </div>
          <!-- ADD NEW ROW BUTTON -->
          <div id="task-row-addNewButton" class="col-lg-12 col-md-12">
            <button id="addNewTaskRow" class="btn btn-warning">Add new task!</button>
          </div>

        </div>

        <div id="project-risks-container" class="col-lg-12 col-md-12" ng-controller="RiskController">
          <div id="risks-top" class="col-lg-12 col-md-12">
            <h4>RISKS</h4>
          </div>

          <!-- RISK HEADER -->
          <div id="risks-header" class="col-lg-12 col-md-12">
            <div id="risks-id" class="col-lg-1 col-md-1  riskHeader">
              <h5>ID</h5>
            </div>
            <div id="risks-description" class="col-lg-8 col-md-8  riskHeader">
              <h5>NAME - DESCRIPTION</h5>
            </div>
            <div id="risks-importance" class="col-lg-3 col-md-3  riskHeader">
              <h5>IMPORTANCE</h5>
            </div>
          </div>

          <!-- RISK CONTENT -->
          <div id="risks-content" class="col-lg-12 col-md-12">
            <div id="risk-row" class="col-lg-12 col-md-12 riskRowContainer" ng-repeat="risk in risks">

              <!-- RISK CONTENT ROWS -->
              <div id="risk-row-id" class="col-lg-1 col-md-1 riskRow">
                <p>{{ risk.riskId }}.</p>
              </div>
              <div id="risk-row-name" class="col-lg-8 col-md-8 riskRow">
                <p>{{ risk.riskName }}</p>
              </div>
              <div id="risk-row-importance" class="col-lg-3 col-md-3 riskRow">
                <p>{{ risk.riskImportance }}</p>
              </div>
            </div>

            <!-- ADD NEW RISK BUTTON -->
            <div id="risk-row-addNewButton" class="col-lg-12 col-md-12">
              <button id="addNewRiskRow" class="btn btn-info">Add new Risk!</button>
            </div>
          </div>
        </div>

        <div id="project-statistics-container" class="col-lg-12 col-md-12">

        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/hello.min.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/angularData.js"></script>
  </body>
</html>
