<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Project management online</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/angular-gantt.css">
    <link rel="stylesheet" href="assets/angular-gantt-bounds-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-groups-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-labels-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-movable-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-overlap-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-plugins.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-progress-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-sortable-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-table-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-tooltips-plugin.css"></link>
    <link rel="stylesheet" href="assets/angular-gantt-tree-plugin.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.9.0/angular-ui-tree.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css">

</head>
<body ng-app="angularGanttDemoApp" ng-strict-di>
<!-- Add your site or application content here -->

<div ng-controller="MainCtrl">
    <div class="navbar navbar-default" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project Management Online</a>
        </div>
        <div id="navbarShowBtnDiv" class="form-group">
          <i class="fa fa-wrench"></i>
          <button id="showProjectSettingsBtn" ng-click="hideSettings()" type="button" class="btn btn-default" ng-model="showProjectSettingsBtnState" bs-checkbox>Show settings panel</button>
          <button id="showProjectSettingsBtn" ng-click="showDataConsole()" type="button" class="btn btn-default" style="display:none">display data</button>
          <button id="saveProjectDataBtn" type="button" class="btn btn-danger navbar-right"  ng-click="saveDataToDrive()">SAVE PROJECT!</button>
        </div>
    </div>

    <div class="container-content" ng-cloak="true">
        <div class="container-fluid">
            <div class="row" id="saveAlertDiv">
              <div  class="alert alert-success col-lg-12 col-md-12">
                <strong>Success!</strong> Saving to Google Drive was successfull!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <div class="row">
              <div id="taskAndRisk" class="col-lg-2 col-md-12">
                  <div class="panel-group" bs-collapse>
                      <div class="panel panel-default panel-warning">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a href="" bs-collapse-toggle>Tasks and Risks</a>
                              </h4>
                          </div>
                          <div class="panel-collapse" bs-collapse-target>
                              <div class="panel-body">
                                  <div class="container-fluid">
                                      <div class="row">
                                          <div class="form-inline">
                                            <div class="form-group text-center">
                                              <label class="control-label"><i class="fa fa-tasks"></i> Tasks</label><br>
                                              <div class="btn-group">
                                                  <button type="button" class="btn btn-default btn-warning" data-toggle="modal" data-target="#addTaskModal">Add task</button>
                                              </div>
                                            </div>
                                            <div class="form-group text-center">
                                              <label class="control-label"><i class="fa fa-exclamation-triangle"></i> Risks</label><br>
                                              <div class="btn-group">
                                                  <button type="button" class="btn btn-default btn-danger" data-toggle="modal" data-target="#addRiskModal">Add risk</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

                <div id="viewOptions" class="col-lg-8 col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="" bs-collapse-toggle>View options</a>
                                </h4>
                            </div>
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa-search"></i> Scale</label><br>
                                                    <button type="button" style="width: 5em; text-align: left" class="btn btn-default" ng-model="options.scale" bs-options="s for s in ['minute', '5 minutes', 'hour', '3 hours', 'day', 'week', '2 weeks', 'month', 'quarter', '6 months', 'year']" bs-select></button>
                                                </div>
                                                  <div class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa-gear"></i> Groups</label><br>
                                                    <div class="btn-group" bs-checkbox-group>
                                                        <button type="button" style="width: 8em; text-align: left" class="btn btn-default" ng-model="options.groupDisplayMode" bs-options="s for s in ['group', 'overview', 'promote', 'Disabled']" bs-select></button>
                                                    </div>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa-crop"></i> Layout</label><br>
                                                    <div class="btn-group" bs-checkbox-group>
                                                        <button ng-disabled="!canAutoWidth(options.scale)" type="button" class="btn btn-default" ng-model="options.width" bs-checkbox>Width</button>
                                                    </div>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa-text-width"></i> Labels</label><br>
                                                    <div class="btn-group" bs-checkbox-group>
                                                        <button type="button" class="btn btn-default" ng-model="options.labelsEnabled" bs-checkbox>Show</button>
                                                    </div>
                                                </div>

                                                <div class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Date range</label><br>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model="options.fromDate" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="From" bs-datepicker>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model="options.toDate" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="To" bs-datepicker>
                                                    </div>
                                                </div>

                                                <div class="form-group text-center">
                                                    <div class="form-group">
                                                        <label class="control-label"><i class="fa fa-sign-out"></i> Non-working days</label><br>
                                                        <button type="button" style="width: 8em; text-align: left" class="btn btn-default" ng-model="options.timeFramesNonWorkingMode" bs-options="e for e in ['visible', 'hidden', 'cropped']" bs-select></button>
                                                    </div>
                                                </div>

                                                <div ng-if="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'" class="form-group text-center">
                                                    <label class="control-label"><i class="fa fa fa-chevron-circle-right"></i> Tree actions</label><br>
                                                    <div class="btn-group">
                                                        <button class="btn btn-default" ng-click="expandAll()">Expand all</button>
                                                        <button class="btn btn-default" ng-click="collapseAll()">Collapse all</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="row">
            <div id="projectProperties" class="col-lg-12 col-md-12">
                <div class="panel-group" bs-collapse>
                    <div class="panel panel-default panel-info" ng-model="projectData" ng-repeat="project in projectData">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="" bs-collapse-toggle>Project: {{project.name}}</a>
                            </h4>
                        </div>
                        <div class="panel-collapse" bs-collapse-target>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="form-inline">
                                          <div class="form-group text-center" >
                                            <button type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#modifyProjectModal">Modify</button>
                                            <label class="control-label projectLabel"><i class="fa fa-area-chart"></i> {{project.name}}</label>
                                            <label class="control-label projectLabel"><i class="fa fa-child"></i> {{project.leader}}</label>
                                            <label class="control-label projectLabel"><i class="fa fa-calendar-plus-o"></i> Created: {{project.created}}</label>
                                            <label class="control-label projectLabel"><i class="fa fa-calendar-check-o"></i> Last modified: {{project.lastModified}}</label>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="" bs-collapse-toggle>Gantt</a>
                                </h4>
                            </div>
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div gantt
                                         data="data"
                                         timespans="timespans"
                                         show-side="options.labelsEnabled"
                                         daily="options.daily"
                                         filter-task="{'name': options.filterTask}"
                                         filter-row="{'name': options.filterRow}"
                                         sort-mode="options.sortMode"
                                         view-scale="options.scale"
                                         column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                                         auto-expand="options.autoExpand"
                                         task-out-of-range="options.taskOutOfRange"
                                         from-date = "options.fromDate"
                                         to-date = "options.toDate"
                                         allow-side-resizing = "options.allowSideResizing"
                                         task-content = "options.taskContentEnabled ? options.taskContent : undefined"
                                         row-content = "options.rowContentEnabled ? options.rowContent : undefined"
                                         current-date="options.currentDate"
                                         current-date-value="options.currentDateValue"
                                         headers="options.width && options.shortHeaders || options.longHeaders"
                                         max-height="options.maxHeight && 300 || 0"
                                         time-frames="options.timeFrames"
                                         date-frames="options.dateFrames"
                                         time-frames-working-mode="options.timeFramesWorkingMode"
                                         time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                                         time-frames-magnet="options.timeFramesMagnet"
                                         api="options.api"
                                         column-magnet="options.columnMagnet">
                                        <gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"
                                                    header-content="options.treeHeaderContent"
                                                    keep-ancestor-on-filter-row="true">
                                        </gantt-tree>
                                        <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                                     columns="options.sideMode === 'TreeTable' ? options.treeTableColumns : options.columns"
                                                     headers="options.columnsHeaders"
                                                     classes="options.columnsClasses"
                                                     formatters="options.columnsFormatters"
                                                     contents="options.columnsContents"
                                                     header-contents="options.columnsHeaderContents">
                                        </gantt-table>
                                        <gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'" display="options.groupDisplayMode"></gantt-groups>
                                        <gantt-tooltips></gantt-tooltips>
                                        <gantt-bounds></gantt-bounds>
                                        <gantt-progress></gantt-progress>
                                        <gantt-sortable></gantt-sortable>
                                        <gantt-movable enabled="!options.readOnly"></gantt-movable>
                                        <gantt-draw-task
                                            enabled="options.canDraw"
                                            move-threshold="2"
                                            task-factory="options.drawTaskFactory">
                                        </gantt-draw-task>
                                        <gantt-overlap></gantt-overlap>
                                        <gantt-resize-sensor></gantt-resize-sensor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div class="panel-group" bs-collapse>
                <div class="panel panel-default panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="" bs-collapse-toggle>Risks</a>
                        </h4>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <td>
                                          <strong><i class="fa fa-align-justify"> </i> Name</strong>
                                        </td>
                                        <td>
                                          <strong><i class="fa fa-commenting-o"> </i> Description</strong>
                                        </td>
                                        <td>
                                          <strong><i class="fa fa-bolt"> </i> Risk level</strong>
                                        </td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr  ng-repeat="risk in riskData">
                                        <td>
                                          <i class="fa fa-cog" ng-click="showRiskModal(risk)"> </i> {{risk.name}} <i class="fa fa-trash-o" ng-click="showDeleteRiskModal(risk)"> </i>
                                        </td>
                                        <td>
                                          {{risk.description}}
                                        </td>
                                        <td>
                                          {{risk.level}}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div id="amChartsToDisplay" class="col-lg-12 col-md-12">
              <div class="panel-group" bs-collapse>
                  <div class="panel panel-default panel-info" ng-repeat="project in projectData">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              Charts <button class="btn btn-warning right" ng-click="showDataConsole()">Refresh charts!</button>
                          </h4>
                      </div>
                      <div class="panel-collapse" bs-collapse-target>
                          <div class="panel-body">

                              <div id="chartdiv" class="col-lg-6 col-md-6">

                              </div>
                              <div id="chartdiv2" class="col-lg-6 col-md-6">

                              </div>
                              <div id="chartdiv3" class="col-lg-6 col-md-6">
                                <h3>The project is about <strong>{{workHours}}</strong> work hours ({{workHours/8}} work days).</h3>
                                <input type="text" ng-model="hourlyRate" value="{{hourlyRate}}" > HUF / workhour
                                <h4>All work hours cost is <strong>{{ workHours * hourlyRate | currency:"HUF " }}.</strong></h4>
                                <br/>
                                <h4>The available amount of hours for the project is <strong>{{allAvailableHours}}</strong> ({{allAvailableHours/8}} work days).</h4>
                                <h4>The available amount of spare hours for the project is <strong>{{allSpareHours}}</strong> ({{allSpareHours/8}} work days).</h4>
                              </div>
                              <div id="chartdiv4" class="col-lg-6 col-md-6" >
                                <!--<h4>To complete <strong>{{t.name}}</strong> {{t.allTime}} is available, it needs <strong>{{t.duration}}</strong> work hours, spare time is <strong>{{t.spare}}</strong> = {{t.duration * hourlyRate | currency:"HUF "}}</h4>-->
                                <table class="table table-stripped center">
                                  <thead>
                                    <tr>
                                      <th>Name</th><th>Available hours</th><th>Required hours</th><th>Spare hours</th><th>Costs</th>
                                    </tr>
                                  </thead>
                                  <tbody ng-repeat="t in tasksDuration">
                                    <tr>
                                      <td>{{t.name}}</td><td>{{t.allTime}}</td><td>{{t.duration}}</td><td>{{t.spare}}</td><td><strong>{{t.duration * hourlyRate | currency:"HUF "}}</strong></td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                      <td><strong>ALL</strong></td><td>{{allAvailableHours}}</td><td>{{allRequiredHours}}</td><td>{{allSpareHours}}</td><td><strong>{{ workHours * hourlyRate | currency:"HUF " }}</strong></td>
                                    </tr>
                                    <tr>
                                      <td><strong>WOULD COST</strong></td><td>{{ allAvailableHours * hourlyRate | currency:"HUF " }}</td><td>{{ allRequiredHours * hourlyRate | currency:"HUF " }}</td><td>{{ allSpareHours * hourlyRate | currency:"HUF " }}</td><td></td>
                                    </tr>
                                  </tfoot>
                                </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        <div id="modifyRiskModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modify risk</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                          <div class="form-group text-center">
                            <label class="control-label"><i class="fa fa-bolt"></i> Risk </label><br>
                            <div class="input-group">
                              <span class="input-group-addon">Name:</span>
                              <input type="text" class="form-control" placeholder="{{riskModificationElement.name}}" ng-model="riskModificationElement.name">
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon">Description:</span>
                              <input type="text" class="form-control" placeholder="{{riskModificationElement.description}}" ng-model="riskModificationElement.description">
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon">Risk level:</span>
                              <select class="form-control"  ng-model="riskModificationElement.level">
                                <option value="Not Important">Not Important</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Ultra High">Ultra High</option>
                              </select>
                              <!--<input type="text" class="form-control" placeholder="{{riskModificationElement.level}}" ng-model="riskModificationElement.level">-->
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger" ng-click="saveModifiedRisk()">Save risk modification</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="addRiskModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add risk</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                          <div class="form-group text-center">
                            <label class="control-label"><i class="fa fa-bolt"></i> Risk </label><br>
                            <div class="input-group">
                              <span class="input-group-addon"><strong>Name:</strong></span>
                              <input type="text" class="form-control" placeholder="Name of the risk" ng-model="newRisk.name">
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon"><strong>Description:</strong></span>
                              <input type="text" class="form-control" placeholder="Description of the risk" ng-model="newRisk.description">
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon"><strong>Risk level:</strong></span>
                              <select class="form-control" ng-model="newRisk.level">
                                <option value="Not Important">Not Important</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Ultra High">Ultra High</option>
                              </select>
                              <!--<input type="text" class="form-control" placeholder="Risk level" ng-model="newRisk.level">-->
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger" ng-click="addNewRisk()">Save risk</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="deleteRiskModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">REMOVE {{removableRisk}} RISK</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                          <div class="form-group text-center">
                            <label class="control-label"><i class="fa fa-tasks"></i> Do you want to remove - {{removableRisk}} - named risk?</label><br>
                            <br/>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger" ng-click="deleteRisk()">YES, REMOVE THE RISK!</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="deleteTaskModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">REMOVE {{removableTask}} TASK</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                          <div class="form-group text-center">
                            <label class="control-label"><i class="fa fa-tasks"></i> Do you want to remove - {{removableTask}} - named task?</label><br>
                            <br/>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger" ng-click="deleteTask()">YES, REMOVE THE TASK!</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="addTaskModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add task</h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                          <div class="form-group text-center">
                            <label class="control-label"><i class="fa fa-tasks"></i> Parent task</label><br>
                            <div class="input-group">
                              <span class="input-group-addon">Task name:</span>
                              <input type="text" class="form-control" placeholder="Task name" ng-model="newTask.taskName">
                            </div>
                            <br/>
                            <div class="input-group addTaskInputGroup">
                              <span class="input-group-addon">From:</span>
                              <input type="text" class="form-control" ng-model="newTask.fromDate" start-week="1" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="From" bs-datepicker>
                            </div>
                            <div class="input-group addTaskInputGroup">
                              <span class="input-group-addon">To:</span>
                              <input type="text" class="form-control" ng-model="newTask.toDate" start-week="1" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="To" bs-datepicker>
                            </div>
                            <div class="input-group addTaskInputGroup">
                              <span class="input-group-addon">Earliest Start Time (EST):</span>
                              <input type="text" class="form-control" ng-model="newTask.fromDateEst" start-week="1" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="Earliest Start Time (EST):" bs-datepicker>
                            </div>
                            <div class="input-group addTaskInputGroup">
                              <span class="input-group-addon">Last Complition Time (LST):</span>
                              <input type="text" class="form-control" ng-model="newTask.toDateEst" start-week="1" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="Last Complition Time (LST):" bs-datepicker>
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon">Responsible:</span>
                              <input type="text" class="form-control" placeholder="Responsible people" ng-model="newTask.person">
                            </div>
                          </div>
                          <div id="childTasksList">
                            <ul id="childTaskListUl" class="list-group">

                            </ul>
                          </div>
                          <div class="btn-group">
                              <button type="button" class="btn btn-default btn-warning" ng-click="displayAddChildTask()">Add child task!</button>
                          </div>
                          <div id="childrenTasksContainer">
                            <div class="form-group text-center">
                              <label class="control-label"><i class="fa fa-text-width"></i> Child task</label><br>
                              <div class="input-group">
                                <span class="input-group-addon">Task name:</span>
                                <input id="newChildTaskName" type="text" class="form-control" placeholder="Task name" ng-model="newChildTask.taskName">
                              </div>
                              <br/>
                              <div class="input-group addTaskInputGroup">
                                <span class="input-group-addon">From:</span>
                                <input id="newChildTaskFromDate" type="text" class="form-control" ng-model="newChildTask.fromDate" start-week="1" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="From" bs-datepicker>
                              </div>
                              <div class="input-group addTaskInputGroup">
                                <span class="input-group-addon">To:</span>
                                <input id="newChildTaskTo" type="text" class="form-control" ng-model="newChildTask.toDate" start-week="1" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="To" bs-datepicker>
                              </div>
                              <div class="input-group">
                                <span class="input-group-addon">Responsible:</span>
                                <input id="newChildTaskResp" type="text" class="form-control" placeholder="Responsible people" ng-model="newChildTask.person">
                              </div>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-danger" ng-click="addChildTaskToList()">Save child task!</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-danger" ng-click="addTaskToDataCollection()">Save task</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>

      <div id="modifyTaskModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Modify task</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <div class="form-inline">
                        <div class="form-group text-center">
                          <label class="control-label"><i class="fa fa-tasks"></i>  {{selectedTaskToEdit.name}}</label><br>
                          <div class="input-group">
                            <span class="input-group-addon">Task name:</span>
                            <input type="text" class="form-control" placeholder="{{selectedTaskToEdit.name}}" ng-model="selectedTaskToEdit.name">
                          </div>
                          <br/>
                          <div class="input-group addTaskInputGroup">
                            <span class="input-group-addon">From:</span>
                            <input type="text" class="form-control" ng-model="selectedTaskToEdit.from" start-week="1" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="{{selectedTaskToEdit.from}}" bs-datepicker>
                          </div>
                          <div class="input-group addTaskInputGroup">
                            <span class="input-group-addon">To:</span>
                            <input type="text" class="form-control" ng-model="selectedTaskToEdit.to" start-week="1" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="{{selectedTaskToEdit.to}}" bs-datepicker>
                          </div>
                          <div class="input-group addTaskInputGroup">
                            <span class="input-group-addon">Earliest Start time (EST):</span>
                            <input type="text" class="form-control" ng-model="selectedTaskToEdit.est" start-week="1" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="{{selectedTaskToEdit.est}}" bs-datepicker>
                          </div>
                          <div class="input-group addTaskInputGroup">
                            <span class="input-group-addon">Last complition time (LST):</span>
                            <input type="text" class="form-control" ng-model="selectedTaskToEdit.lct" start-week="1" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" placeholder="{{selectedTaskToEdit.lct}}" bs-datepicker>
                          </div>
                          <div class="input-group">
                            <span class="input-group-addon">Responsible:</span>
                            <input type="text" class="form-control" placeholder="{{selectedTaskToEdit.person}}" ng-model="selectedTaskToEdit.person">
                          </div>
                          <div>
                            <span >Progress %:</span>
                            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="101" data-slider-step="1" ng-model="selectedTaskToEdit.progress" data-value="{{selectedTaskToEdit.progress}}"/>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-danger" ng-click="saveModifiedTask()">Save task modification</button>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div id="modifyProjectModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Modify project</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <div class="form-inline">
                        <div class="form-group text-center" ng-repeat="project in projectData">
                          <label class="control-label"><i class="fa fa-tasks"></i>  {{project.name}}</label><br>
                          <div class="input-group">
                            <span class="input-group-addon">Project's name:</span>
                            <input id="modifyProjectNameInput" type="text" class="form-control" value="{{project.name}}" placeholder="{{project.name}}" >
                          </div>
                          <br/>
                          <div class="input-group">
                            <span class="input-group-addon">Project's leader:</span>
                            <input id="modifyProjectLeaderInput" type="text" class="form-control" value="{{project.leader}}" placeholder="{{project.leader}}">
                          </div>
                          <br/>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-danger" ng-click="saveModifiedProject()">Save project modification</button>
              </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
</div>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="hello.min.js"></script>
<script type="text/javascript" src="client.js"></script>
<script src="request.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.2/angular-moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.9.0/angular-ui-tree.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.3/angular-strap.min.js"></script>
<script src="assets/angular-gantt.js"></script>
<script src="assets/angular-gantt-bounds-plugin.js"></script>
<script src="assets/angular-gantt-drawtask-plugin.js"></script>
<script src="assets/angular-gantt-groups-plugin.js"></script>
<script src="assets/angular-gantt-labels-plugin.js"></script>
<script src="assets/angular-gantt-movable-plugin.js"></script>
<script src="assets/angular-gantt-overlap-plugin.js"></script>
<script src="assets/angular-gantt-progress-plugin.js"></script>
<script src="assets/angular-gantt-resizeSensor-plugin.js"></script>
<script src="assets/angular-gantt-sortable-plugin.js"></script>
<script src="assets/angular-gantt-table-plugin.js"></script>
<script src="assets/angular-gantt-tooltips-plugin.js"></script>
<script src="assets/angular-gantt-tree-plugin.js"></script>

<!--<script src="assets/angular-gantt-plugins.js"></script>-->
<script src="https://code.angularjs.org/1.3.0/angular-animate.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-aria.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-cookies.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-loader.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-messages.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-resource.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-route.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-sanitize.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-touch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js"></script>
<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="http://www.amcharts.com/lib/3/serial.js"></script>
<script src="http://www.amcharts.com/lib/3/pie.js"></script>
<script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>
